* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  color: #1f2933;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  text-align: center;
  padding: 90px 20px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.primary-btn {
  padding: 14px 28px;
  background: white;
  color: #1e3a8a;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 70px 20px;
  text-align: center;
}

.section.light {
  background: #f8fafc;
}

/* CURRICULUM */
.accordion {
  max-width: 700px;
  margin: auto;
}

.item {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* COURSE FEE */
.plan-card {
  max-width: 420px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.price {
  font-size: 34px;
  font-weight: 600;
  color: #02050e;
}

.price-sub {
  color: #64748b;
  margin-bottom: 20px;
}

.plan-card ul {
  list-style: none;
  text-align: left;
  margin-bottom: 25px;
}

.plan-card li {
  margin: 12px 0;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}